.my-profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.edit-icon {
  border-radius: 50%;
  background-color: #3dc2ff;
  padding: 10px;
  color: white;
}

.photo {
  position: relative;
  width: 60%;

  img {
    border-radius: 50%;
    display: block;
  }

  .add-photo {
    width: 45px;
    height: 45px;
    background-color: #3dc2ff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 0;
    color: #ffffff;
  }
}

form {
  width: 100%;
}

.information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;

  mat-form-field {
    width: 90%;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0;
}

