<!--<ion-content>-->
<div class='job-offer__tile' *ngFor='let jobOffer of jobOffers' (click)='jobOfferData(jobOffer.jobOfferId)'>
  <p class='job-offer__tile--name'>{{ jobOffer.jobOfferName }}</p>
  <p class='job-offer__tile--company'>
    <ion-icon name="business-outline"></ion-icon>
    {{ jobOffer.company }}</p>
  <p class='job-offer__tile--location'>
    <ion-icon name='navigate'></ion-icon>
    {{ jobOffer.city }}
  </p>
  <p class='job-offer__tile--salary'>
    <ion-icon name='cash'></ion-icon>
    {{ jobOffer.salaryFrom }} - {{ jobOffer.salaryTo }} zł
  </p>
</div>
<!--</ion-content>-->
