:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;

  h3 {
    color: #4c8dff;
  }
}

.content{
  width: 90%;
  ol {
    font-weight: 500;

    li {
      margin-top: 10px;
    }
  }

  ul {
      font-weight: 400;
  }

  span {
    color: #4c8dff;
  }
}

