<div class='content'>
  <div class='title'>
    <h3>O aplikacji</h3>
  </div>
  <p>Aplikacja <span>Begin Sth New</span> zostala zrealizowana w ramach projektu Aplikacje mobilne.</p>
  <p>Jest przeznaczona do osob chcacych znalezc prace lub zatrudnic inne osoby.</p>
  <p>Sposob korzystania z platformy:</p>
  <ol>
    <li>Logowanie i rejestracja</li>
    <li>3 przyciski na dole aplikacji:</li>
    <ul>
      <li><span>Moj profil</span> - informacje o koncie uzytkownika z mozliwoscia zaktualizowania danych i zrobienia
        zdjecia profilowego
      </li>
      <li><span>Oferty pracy</span> - lista aktualnych ofert, po kliknieciu w wybrana oferte mozna otworzyc jej
        szczegoly
      </li>
      <li><span>Nowa oferta</span> - mozliwosc stworzenia wlasnej ofery pracy</li>
    </ul>
    <li>Hamburger - zawiera odnosniki do wybranych informacji</li>
  </ol>
</div>
