<div class="content">
  <h3>Regulamin aplikacji</h3>
<p>
  Ut vel justo mi. Pellentesque in placerat ex, in tempus dui. Nulla sit amet cursus arcu. Fusce ac luctus magna. Proin
  interdum tincidunt mi, iaculis condimentum justo. Maecenas rutrum egestas fermentum. Aliquam pulvinar nunc vitae risus
  porttitor vulputate. Aliquam egestas iaculis lectus, ac vulputate risus egestas in. Etiam auctor libero ut massa porta
  placerat. Phasellus auctor porttitor scelerisque. Aliquam eget sodales orci. Fusce posuere dui lectus, a tincidunt
  nulla dignissim ut.
</p>
<ul>
  <li>Nunc viverra porta hendrerit.</li>
  <li>Donec eu maximus leo. Ut urna tortor, faucibus a lectus nec, tristique consectetur
    diam.
  </li>
  <li>Fusce nisi orci, pharetra ultricies efficitur sed, posuere vitae libero.</li>
  <li>In nulla justo,
    rhoncus et egestas vitae, ullamcorper eu ipsum. Nam porttitor, purus a cursus porttitor, justo ipsum ultricies ex, a
    dictum nunc neque vel augue.
  </li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis egestas magna, ut hendrerit enim. Sed malesuada
  ornare magna vitae varius. Nulla pellentesque arcu ante, ut accumsan ligula consequat pulvinar. Donec sagittis tortor
  et egestas lobortis.</p>
</div>
